body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

.titulo {
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
  border-left: 5px solid #0d6efd;
  padding-left: 10px;
}

.texto {
  font-size: 18px;
  color: #555;
}

.carousel-img {
  height: 400px;
  object-fit: cover;
}

/* Cards iguais */
.custom-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}

.custom-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Imagens iguais */
.card-img-top {
  height: 200px;
  object-fit: cover;
}

/* Botões */
.btn {
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.1);
}

/* ListGroup */
.custom-list .list-group-item {
  transition: 0.3s;
}

.custom-list .list-group-item:hover {
  background-color: #0d6efd;
  color: white;
  transform: translateX(10px);
}

/* Footer */
.footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 15px;
}
.btn-topo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
  transition: 0.3s;
  z-index: 1000;
}

.btn-topo:hover {
  background-color: #0b5ed7;
  transform: scale(1.1);
}
.navbar {
  transition: 0.3s;
}

.navbar-scrolled {
  background-color: #0a0a0a !important;
  padding: 5px 0;
}

/* Botão ativo no menu */
.nav-link.active {
  font-weight: bold;
  color: #0d6efd !important;
}

/* Animações suaves */
.custom-card, .list-group-item {
  transition: all 0.3s ease;
}